{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8">

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<title>{% block title %}{% endblock title %}</title>

</head>

<body>

    <div class="login-logout-reg-nav">
        {% if user.is_authenticated%}
            Добро пожаловать, {{ user.username }}!
            <a href="{% url 'logout' %}">Выйти из аккаунта</a>
        {% else %}
            <a href="{% url 'login' %}">Войти на сайт</a>
        {% endif %}
    
        </div>

{% block content %}



{% endblock content %}

</body>

</html>
